body {
    background-color: black;
    color: white;
}


.background-layer-1 {
    background-image: radial-gradient(#fafafa 1%, transparent 2.8%);
    background-color: black;
}

.background-layer-2 {
    background-image: url("../images/viewer-background-gradient-dark.svg");
}

.center-connection-box {
    background-color: #151718;
}

input {
    background-color: #0D0D0D;
    border-color: #323334;
    color: white;
}

    input:focus {
        border-color: white;
    }


button {
    border-color: #323334;
}

  button:hover {
    background-color: #33ffe9;
  }

  button:active {
    background-color: #01ad9b;
    border: 1px solid #01ad9b;
  }

  button:disabled {
      background-color: #555555;
      color: #dedede;
      cursor: no-drop;
      border: none;
  }

.bg-primary {
    background-color: #01EAD1;
}

.menu-options-header {
    color: lightgray;
}

#menuButton {
    color: gray;
    background-color: rgb(50,50,50);
}
#menuButton:hover {
    color: white;
}


#menuFrame {
    position: absolute;
    color: white;
    left: 0;
    top: 0;
    height: 100%;
    background-color: rgb(50,50,50);
    width: 0;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    opacity: 0;
    z-index: 3;
    transition: .5s ease all;
}

.horizontal-button-bar {
    background-color: rgb(90, 90, 90);
}


.logo-subtitle {
    color: deepskyblue;
}

.logo-title {
    color: white;
}


footer a {
    color: deepskyblue;
}



.status-message {
    color: deepskyblue;
}

.toast-message {
    background-color: rgb(50, 50, 50);
    color: white;
}

.modal-prompt {
    background-color: rgb(60, 60, 60);
    color: white;
}
